$primary-color: #FCA311;
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 5px;
    background: #14213D;
    color: #FFFFFF;
    font-family: 'Roboto';
}

a {
    color: $primary-color;
    text-decoration: none;
    font-family: 'Roboto';
    position: relative;
    color: $primary-color;
    text-decoration: none;
    line-height: 24px;
    &:before,
    &:after {
        content: '';
        position: absolute;
        transition: transform .5s ease;
    }
}

h1 {
    font-weight: 700;
}

.effect-2 {
    padding: 10px;
    &:before,
    &:after {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-style: solid;
        border-color: $primary-color;
    }
    &:before {
        border-width: 2px 0 2px 0;
        transform: scaleX(0);
    }
    &:after {
        border-width: 0 2px 0 2px;
        transform: scaleY(0);
    }
    &:hover:before,
    &:hover:after {
        transform: scale(1, 1);
    }
}